<footer>
        <p>© 2024 Fashion Company. Все права защищены.</p>
        <p>Контакты: +1 (800) 555-0199</p>
        <p>
            <a href="https://www.facebook.com/?locale=uk_UA">Facebook</a> | <a href="https://www.instagram.com/?locale=ru">Instagram</a>
        </p>
</footer>

