#successNotification, #loginNotification, #registerNotification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background-color: #28a745; /* Зеленый цвет для успешного сообщения */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* По умолчанию скрыто */
    text-align: center; /* Центрирование текста */
    max-width: 90%; /* Ограничение ширины для маленьких экранов */
    font-size: 1rem;
}

#editNotification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background-color: #dfa10a;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* По умолчанию скрыто */
    text-align: center; /* Центрирование текста */
    max-width: 90%; /* Ограничение ширины для маленьких экранов */
    font-size: 1rem;
}

#deleteNotification, #logoutNotification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background-color: #cf1414;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* По умолчанию скрыто */
    text-align: center; /* Центрирование текста */
    max-width: 90%; /* Ограничение ширины для маленьких экранов */
    font-size: 1rem;
}

.alert-register {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 1050; /* Поверх всего */
}